.Welcome{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 20px;
    width: 420px;
    margin-left: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%; 
    z-index: 999;
    flex-direction: row-reverse;
}
.Welcome p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 42px;
    text-align: end;
    color: #000000;
}
.Welcome img{
    height:70px;
    order: -1;
}