.Welcome{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 20px 0;
    width: 420px;
    margin-left: auto;
}
.Welcome p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 42px;
    text-align: end;
    color: #000000;
}
.Welcome img{
    height:97px;
}