.LastItem{
    width: 391px;
    height: 50px;
    display: flex;
    align-items: center;   
    margin: 20px 0;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px ;
}
.LastItem img{
    z-index: 1;
    transform: translate(-10px,10px);
}

.LastItem  p{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}