.MostRecent .box {
  width: 579px;
  height: 282px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.42) 0%,
      rgba(0, 0, 0, 0) 26.99%,
      rgba(0, 0, 0, 0) 68.41%,
      rgba(0, 0, 0, 0.42) 100%
    ),
    url("../../images/Rectangle\ 11.png");
  border-radius: 45px;
  position: relative;
}
.MostRecent h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  margin: 10px 10px 10px;
}
.MostRecent .box img {
  width: 105px;
  position: absolute;
  right: -20px;
  top: 0;
  background: #32fb00e3;
  box-shadow: 0px 0px 567px #32fb00, 0px 0px 90px #32fb01, 0px 0px 189px #32fb00,
    0px 0px 50.5px #32fb00, 0px 0px 27px #32fb00, 0px 0px 31.5px #32fb00;
  border-radius: 29%;
}
.MostRecent .box .title {
  position: absolute;
  right: 100px;
  top: 25px;
}
.MostRecent .box .title p {
  font-style: normal;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.MostRecent .box .title p:last-child {
  font-weight: 600;
  font-size: 1rem;
}
.MostRecent .box .desc {
  position: absolute;
  bottom: 0;    
  top: 178px;
  left: 0;
  right: 0;
  /* height: 118px; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    radial-gradient(
        97.57% 210.75% at 0.9% 2.98%,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  opacity: 0.7;
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 20px;
  border-radius: 0px 0px 45px 45px;
}
.MostRecent .box .desc p {
  font-style: normal;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;
}
.MostRecent .box .desc p:last-child {
  font-size: 1rem;
}
