@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');
.mainText{
    width: 473px;
    height: 164px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    position: relative;
    color: #fff;
    transform: translateY(-72px);
    
}
.mainText.logIn{
font-style: italic;
}
.mainText::before{
    content: "“";
    font-family: 'Gayathri';
    font-weight: 700;
font-size: 96px;
    color: #00DAF7;
    position: absolute;
    top: 0;
    left: 0;
}
.after{
    position: absolute;
    right: 45px;
    bottom: -145px;
    width: 30px;
    height: 10px;
    transform: rotate(180deg);
    background-color: #fff;
}
.after::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: #fff;
}

.logIn,
.logIn::before{
    color: #696F79;
}
.mainText span{
    position: absolute;
    bottom: -85PX;
}