.FormText{
    width: 426px;
}
.FormText.login{
    text-align: center;
}
.FormText h1{
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #000000;
}
.LogIn .FormText h1 {
    margin-bottom: 12px;
    font-size: 42px;
}
.FormText p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #8692A6;
    margin-bottom: 32px;
}