.or{
    position: relative;
    margin: 15px auto;
    text-align: center;
    color: #BABABA;
}
.or::before{
    content: "";
    width: 172px;
    height: 1px;
    background-color: #F5F5F5;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.or::after{
    content: "";
    width: 172px;
    height: 1px;
    background-color: #F5F5F5;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
