.Friends{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
}
.Friends h3{
margin: 20px 0;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;

    color: #000000;
}
.Friends img{
    min-width: 200px;
    transform: translateY(-50px);
}