/** @format */

.NewGame {
  height: fit-content;
  /* overflow: hidden; */
  /* width: 200px; */
}

.NewGame .content {
  display: flex;
  gap: 25px;
  /* width: fit-content; */
  overflow-y: hidden;
  overflow-x: scroll;
  height: fit-content;
  padding: 10px 0 0;
}
.content::-webkit-scrollbar {
  height: 10px;
  width: 6px; /* width of the scrollbar */
  background-color: #f5f5f5; /* background color of the scrollbar */
}

.content::-webkit-scrollbar-thumb {
  border-radius: 12px; /* roundness of the scrollbar handle */
  background-color: #909090; /* color of the scrollbar handle */
}

.NewGame .content div {
  min-width: 400px;
  min-height: 210px;
  margin: 15px 0 5px;
}
.NewGame .content p {
  font-size: 1rem;
}
.NewGame h3 {
  margin: 15px 0 0;
  /* font-family: 'Gilroy'; */
  font-style: normal;
  font-weight: 800;
  font-size: 1.8rem;
  color: #000000;
}
.newGameContainer{
  padding: 0  0px 0 20px;
}